body {
  background-color: #111;
  text-align: center;
}
img {
  max-width: 100%;
}
h1 {
  color: black;
  margin: 300px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 8px;
}
h3 {
  color: green;
}
a {
  font-size: 4vw;
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;

}
a:hover {
  color: orange;
  cursor: url(yoda-small.png), auto;
}
a:active {
  color: green;
}
a:visited {
  color: red;
}
a:focus {
  color: white;
}
