* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  background-color: #111;
}
h1 {
  color: white;
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  letter-spacing: 0px;
  margin: 40vh 0 0 0;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  color: white;
  font-size: 4em;
  letter-spacing: 0px;
  margin: 60vh 0 0 0;
  font-family: 'Geostar Fill', cursive;

}
.Final08 {
  text-align: center;

}
.PSG {
  text-align: center;

}
.Final98 {
  text-align: center;

}
.barcelona {
  text-align: center;

}
.liverpool {
  text-align: center;
}
.font-size {
  font-size: 3vw;
}
.align {
text-align: right;
font-size: 1.5vw;
text-decoration: underline; color: red;

}
.align2 {
font-size: 3vw;
text-decoration: overline; color: red;


}
.align3 {
  text-align: left;
  font-size: 2.6vw;
  text-decoration: dashed underline; color: red;
}
.align4 {
  text-align: right;
  text-decoration: line-through; color: red;
  font-size: 2.4vw;
}
.align5 {
  text-align: left;
  font-size: 2.5vw;
  background-color: red;

}
.n1{
  transition: all 1s ease;
}
.Final08 {
  transition: all 1s ease;
}
.PSG {
  transition: all 1s ease;
}
.Final98 {
  transition: all 1s ease;
}
.liverpool {
  transition: all 1s ease;
}
.barcelona {
  transition: all 1s ease;
}
