* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0 auto;
  background-color: whitesmoke


}
#container {
  width: 100vw;
  margin: 0 auto;
}
h1 {
font-size: 16vw;
color: white;
font-family: 'Bebas Neue', cursive;
margin: 0;
letter-spacing: 5px;
text-align: center;
}
h1.i2 {
font-size: 16vw;
color: white;
font-family: 'Bebas Neue', cursive;
margin: 140px 0 0 0;
letter-spacing: 5px;
text-align: center;
}
h2 {
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: white;
  padding: 10px;
  letter-spacing: 2px;
}
h2.h2-2 {
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  padding: 10px;
  display: none;
}
h3 {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin-left: 15px;
}
i {
  font-size: 30px;
  color: white;
}
h4 {
  font-size: 20pt;
  color: white;
  margin: 30px 0 0 0;
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
}
h4.i2 {
  font-size: 50pt;
  color: white;
  margin: 100px 0 80px 0;
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
}
h5 {
  font-size: 5vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-style: italic;
  text-align: center;
  margin: 100px 0 0 0;
  letter-spacing: 5px;
  background-color: #222;
}
h5.i2 {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-style: italic;
  text-align: center;
  margin: 50px 0 0 0;
  letter-spacing: 5px;
  background: none;
}
h5.i3 {
  font-size: 5vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-style: italic;
  text-align: center;
  margin: 100px 0 0 0;
  letter-spacing: 5px;
  background-color: #399BAF;
}
/* h5.i4 {
  font-size: 5vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-style: italic;
  margin: 10px;
  letter-spacing: 5px;
  position: fixed;
  background: none;
  text-shadow:
} */
h5.i5 {
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-align: center;
  margin: 20px 0 0px 0;
  letter-spacing: 5px;
  background: none;
}
h6 {
  color: white;
  float: left;
  margin: 15px;
  padding: 3px;
  font-family: 'Source Sans Pro', sans-serif;

}
a {
  color: white;
  text-decoration: none;
  border-bottom: 5px;
  transition: color 0.5s ease;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
a:visited {
  color: white;
}
a:focus {
  color: black;
}

p {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin-left: 15px;

}
.top {
  width: 6.5%;
  height: 10%;
  /* background-color: #000; */
  margin: 0;
  position: fixed;
}
.a {
  width: 100vw;
  height: 100vh;
  float: left;
  background-color: #000;
  margin: 0px;
}
.a2 {
  width: 100vw;
  float: left;
  background-color: whitesmoke;
  margin: 0;
}
.a3 {
  width: 100vw;
  float: left;
  background-color: whitesmoke;
  margin: 0;
}
.aa{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: #;

}
.bbb {
  width: 100vw;
  margin: 10px 0 0 0;
  background-color: #000
}
.line {
  width: 100vw;
  height: 5px;
  background-color: #222;
  margin: 50px 0 50px 0;
  text-align: center;
}
.c {
  width: 50vw;
  height: 753px;
  float: left;
  margin: 100px 0 0 0;

}
.c2 {
  width: 50vw;
  height: 753px;
  float: left;
  margin: 250px 0 0 0;

}
.e {
  width: 50vw;
  height: 753px;
  float: left;
  padding: 50px 150px 50px 200px;
  margin: 100px 0 0 0;
}
.e2 {
  width: 100vw;
  height: 753px;
  float: left;
  padding: 50px 150px 50px 200px;
  margin: 50px 0 0 0;
}
.ee {
  width: 500px;
  height: 500px;
  float: left;
  padding: 100px 50px 0px 25px;
}
.ee2 {
  width: 500px;
  height: 100px;
  text-align: center;
  padding: 45px 50px 0px 25px;
  margin: auto;
  color: white;
}
.ee3 {
  width: 800px;
  height: 100px;
  text-align: center;
  padding: 0px 50px 0px 25px;
  margin: auto;
  color: black;
}
.ee4 {
  width: 800px;
  height: 100px;
  text-align: center;
  padding: 0px 50px 0px 25px;
  margin: 50px auto 300px auto;
  color: black;
}
.responsive {
  margin: 50px 50px 50px 70px;
}
.w {
  width: 100vw;
  height: 2500px;
  float: left;
  background-color: #b86521;
  margin: 150px 0 0 0;
}
.w2 {
  width: 100vw;
  height: 280px;
  float: left;
  background-color: #365897;
  margin: 150px 0 0 0;
}
.w3 {
  width: 100vw;
  height: 1750px;
  float: left;
  background-color: #626584;
  margin: 150px 0 0 0;
}
.w4 {
  width: 100vw;
  height: 6400px;
  float: left;
  background-color: #222;
  margin: 150px 0 0 0;
}

.spacing {
  width: 100vw;
  height: 100px;
  background-color: whitesmoke;
}
.tile7, .tile8, .tile9 {
  width: 120px;
  height: 75px;
  margin: 50px;
  float: left;
  opacity: .8;
}
span {
  background: none;
  float: left;
}
img {
  width: 600px;
}
img.i2 {
  width: 750px;
  height: auto;
  padding: 50px 0 0 0;
}
img.i3 {
  width: 75px;
  height: auto;
  float: left;
  margin: 10px 0px 10px 20px;
  position: fixed;
}
img.i4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-align: center;
  padding: 250px 0 0 0;
}
img.i5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  padding: 250px 0 0 0;
}
img.i6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-align: center;
  padding: 0;
}
img.i7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding: 200px 0 0 0;
}
img.i8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  padding: 200px 0 0 0;
}
img.i9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  padding: 200px 0 0 0;
}
img.i10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  padding: 200px 0 0 0;
}
img.i11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 50px auto;
}
img.i12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  text-align: center;
  padding: 0;
  margin: 50px auto;
}
img.i13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  text-align: center;
  padding: 0 60px 0 0;
  margin: 50px auto;
}
video {

}

@media only screen and (max-width: 1439px)
{

}
@media only screen and (max-width: 1023px)
{

}
@media only screen and (max-width: 767px)
{

}
