* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0 auto;


}
#container {
  width: 55vw;
  margin: 0 auto;

}
h1{
  font-family: 'Audiowide', cursive;
  font-size: 7vw;
  line-height: 6vw;
  transform: rotate(-90deg);
  margin: 400px 0 0 0;

}
h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 4.8vw;
  line-height: 6vw;
  transform: rotate(-90deg);
  margin: 400px 0 0 0;
  color: white;
}
.a {
  width: 10vw;
  height: 150vw;
  background-color: brown;
  float: left;
}
.b {
  width: 8vw;
  height: 150vw;
  background-color: gray;
  float: left;
}
.c {
  width: 37vw;
  height: 150vw;
  float: left;
  padding: 0 30px;
}
.p{
  text-align: left;
  font-family: 'Antic Slab', serif;

}
