* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0 auto;


}
#container {
  width: 1000px;
  margin: 0 auto;

}
h1 {
  text-align: left;

}
h4 {
 font-family: fantasy;
}
h3 {

}
h2 {

}
p {
text-align: left;
}
.a, .c, .d {
  width: 400px;
  float: left;
  margin: 5px auto;

}
.A {
  width: 200px;
  height: 200px;
}
.a {

}
.b {

}
.c {

}
.d {
}
