* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0 auto;


}
#container {
  width: 900px;
  height: 1800px;
  margin: 0 auto;

}
h1 {
font-family: 'Sigmar One', cursive;
  font-size: 3vw;
}
h4 {
  font-family: 'Yesteryear', cursive;
  font-size: 10pt;

}
h3 {
  font-family: 'Lustria', serif;
  font-size: 20pt;
  margin: 80px auto;

}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50pt;

}
p {
  font-family: 'Lustria', serif;

  text-align: left;
}

.a {
  width: 600px;
  height: 550px;
  float: left;
}
.b {
  width: 300px;
  height: 550px;
  float: left;
}
.c {
  width: 285px;
  height: 1250px;
  float: left;
}
.d {
  width: 290px;
  height: 900px;
  float: left;
}
.g {
  width: 20px;
  height: 1250px;
  float: left;
}
.h {
  width: 20px;
  height: 900px;
  float: left;
}
.m {
  width: 285px;
  height: 900px;
  float: left;
}
.i {
  width: 550px;
  height: 300px;
  float: left;
}
